
body{
    font-family: Roboto;
}

h1{
    font-size: 5em;
    font-weight: 500;
    margin: 0em;
}

h2{
    font-size: 3em;
    font-weight: 500;
    text-align: center;
}

h4{
    font-size: 1.75em;
    font-weight: 400;
    margin: 0em;
}

.boton{
    font-size: 1em;
    border: none;
    color: #ffffff;
    background-color: rgb(0, 113, 227);
    padding: 0.6em 1.25em;
    border-radius: 2em;
}

a{
    display: block;
    color: rgb(0, 113, 227);
    text-decoration: none;
    font-weight: 300;
    padding-top: 1.25em;
}

.icono{
    width: 1em;
    display: block;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.navegador{
    width: 80%;
    display: inline-flex;
    justify-content: space-between;
    opacity: 0.8;
}

.menu a{
    color: #ffffff;
    font-size: 0.8em;
}


.encabezado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 6em;
}

.financiacion{
    font-size: 0.9em;
    font-weight: 300;
}

.nuevo{
    font-size: 0.7em;
    color: darkorange;
}

.precio{
    font-weight: 300;
}

.macbook{
    width: 80%;
    padding-top: 5em;
}

.accesorios{
    display: flex;
    flex-direction: row;
}

.seccion1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background-color: rgb(242, 242, 242);
    margin: 1.25em;
    padding-top: 5em;
}

.seccion1 img{
    width: 100%;
    margin-top: 7em;
}

.seccion1 h2{
    width: 60%;
    margin: 0.2em;
}

.seccion2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background-color: rgb(242, 242, 242);
    margin: 1.2em;
    padding-top: 5em;
}

.seccion2 img{
    width: 70%;
}

.seccion2 h2{
    width: 60%;
    margin: 0.2em;

}

.seccion2 p{
    width: 60%;
    font-weight: 300;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.seccion2 a{
    margin-bottom: 2em;
}

.entrega{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 5em;
}

.entrega h3{
    font-size: 1.25em;
    font-weight: 500;
    margin: 0.1em;
}

.entrega p{
    font-size: 1.25em;
    font-weight: 300;
    text-align: center;
    margin: 0.1em;
}

.entrega img{
    width: 2.5em;
    padding-bottom: 0.8em;
}

.entrega a{
    font-size: 1.25em;
    padding-top: 0.1em;
}

.footer{
    background-color: rgb(245, 245, 247);
    color: rgb(81, 81, 84);
}

.footer p{
    font-size: 0.8em;
    font-weight: 200;
    padding-left: 10em;
    padding-top: 2em;
}

.piepagina{
    display: flex;
    flex-direction: row;
    padding-left: 8em;
    padding-bottom: 2em;    
}

.piepagina li{
    padding-right: 2em;
    list-style: none;
    font-size: 0.8em;
    color: rgb(29,29,31);
    font-weight: 300;
}